.externalLink {
  display: inline-flex;
  align-items: baseline;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  vertical-align: baseline;
  width: 0.85em;
  height: 0.85em;
  margin-left: 0.1em;
  flex-shrink: 0;
}

